# Development Requirements
# Install with: pip install -r requirements-dev.txt

# Testing
pytest==8.0.2
pytest-django==4.7.0
pytest-cov==4.1.0
pytest-xdist==3.6.1
factory-boy==3.3.0
faker==24.3.0

# Code Quality
black==24.1.1
flake8==7.0.0
isort==5.13.2
pylint==3.0.3
bandit==1.7.5
mypy==1.8.0
django-stubs==4.2.7

# Documentation
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinx-autodoc-typehints==1.25.5

# Development Tools
django-debug-toolbar==4.2.0
django-extensions==3.2.3
ipython==8.20.0
ipdb==0.13.13
django-querycount==0.6.4

# Performance Testing
locust==2.19.1
django-silk==5.0.4

# Additional Tools
pre-commit==3.6.0
bump2version==1.0.1
twine==4.1.1
